/* = UT1 - Float Classes = */
.fr{float:right !important;}
.fl{float:left !important;}
.clear {clear:both;height:0px;}
.tar {text-align: right !important;}
.tac {text-align: center !important;}
/* = UT2 - Display Classes = */
.dblock {display:block !important;}
.dnone {display:none!important;}
.dinline {display:inline-block !important;}

/* = UT3 - Positioning Classes = */
.pabsolute {position:absolute;}
.prelative {position:relative;}
.pfixed {position:fixed;}

/* = UT4 - Padding Classes = */
.p0 {padding: 0px !important;}
.p5 {padding:5px !important;}
.p10 {padding:10px !important;}
.p15 {padding:15px !important;}
.p20 {padding:20px !important;}

.pt5 { padding-top: 5px !important;}
.pt10 { padding-top: 10px;}
.pt15 { padding-top: 15px;}
.pt20 { padding-top: 20px !important;}
.pt25 { padding-top: 25px;}
.pt30 { padding-top: 30px !important;}


.pr0 { padding-right: 0px !important;}
.pr5 { padding-right: 5px;}
.pr10 { padding-right: 10px !important;}
.pr15 { padding-right: 15px;}
.pr20 { padding-right: 20px;}
.pr30 { padding-right: 30px;}

.pl0 { padding-left: 0px !important;}
.pl5 { padding-left: 5px;}
.pl10 { padding-left: 10px !important;}
.pl15 { padding-left: 15px;}
.pl20 { padding-left: 20px;}
.pl30 {padding-left: 30px;}

.pb5 {padding-bottom:5px !important;;}
.pb10 {padding-bottom:10px !important;;}
.pb15 {padding-bottom:15px !important;;}
.pb20 {padding-bottom:20px !important;;}

.pb0{padding-bottom:0 !important;}
.pb60 {padding-bottom: 60px !important;}

/* = Margin Classes = */
.m0{margin:0px;}
.m5{margin:5px;}
.m10 {margin:10px !important;}
.m15 {margin:15px;}
.m20 {margin:20px;}
.m30 {margin:30px;}
.m40 {margin:40px;}
.mt1 {margin-top:1px !important;}
.mt2 {margin-top:2px;}
.mt3 {margin-top:3px;}
.mt4 {margin-top:4px;}
.mt4{margin:4px;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30{margin-top:30px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mt45 {margin-top:45px;}
.mt50 {margin-top: 50px;}
.mt60 {margin-top: 60px;}
.mt80 {margin-top: 80px;}
.mt100 {margin-top: 100px;}
.mtn15{margin-top: -15px;}
.mtn20{margin-top: -20px;}
.mtn28{margin-top: -28px;}
.mtn46{margin-top: -46px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}

.mln5{margin-left:-5px;}
.mln10{margin-left: -10px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml30 {margin-left:30px;}
.ml35 {margin-left: 35px;}
.ml37 {margin-left: 37px;}
.ml40 {margin-left:40px;}
.ml42 {margin-left: 42px;}
.ml50 {margin-left:50px;}
.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb15{margin-bottom:15px;}
.mb20 {margin-bottom:20px !important;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35 {margin-bottom:35px;}
.mb120 {margin-bottom:120px;}

.w80{width:80%;}
.w19{width:19%;}
.h100{height:100%;}

.z100{z-index:100;}

.oh {overflow:hidden !important;}

.w100{width:100% !important;}
.h100{height:100% !important;}

.display-none {display: none !important}
.dl {display: inline !important;}


